.customer {
    display: none;
}

.customer.active {
    display: block;
}

.customer-list {
    display: none;
}

.customer-list.active {
    display: block;
}

.btn.remove {
    visibility: hidden;
}