.nav-wrapper {
    background-color: rgb(170, 215, 255);
}

ul {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 10px;
}

li {
    list-style-type: none;
    padding: 0 10px;
}

a,
a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(41, 41, 41);
}